{% extends "base.html.twig" %}
{% block body %}
    <h1>Podanie "{{ ticket.type }}"</h1>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>
                    Status
                </td>
                <td>
                    {{ticket.status }}
                </td>
            </tr>
            <tr>
                <td>
                    Data utwozenia
                </td>
                <td>
                    29.10.2011
                </td>
            </tr>
            <tr>
                <td>
                    Tresc
                </td>
                <td>
                    {#{{ ticket.content }}#}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {% for event in ticket.ticketEvent %}

        <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>
                    Autor
                </td>
                <td>
                    not-implemented
                </td>
            </tr>

            <tr>
                <td>
                    Data odpowiedzi
                </td>
                <td>
                    {{ event.createdAt | date }}
                </td>
            </tr>
            <tr>
                <td>
                    Odpowiedz
                </td>
                <td>
                    {{ event.content }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}

{% endblock %}
