{% extends "base.html.twig" %}

{% block page_title %}Lista podan{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Typ Podania</th>
                <th>Data zlozenia podania</th>
                <th>Data ostatniej aktualizacji</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ ticket.type }}</td>
                <td>{{ ticket.createdAt|date }}</td>
                <td>{{ ticket.updatedAt|date }}</td>
                <td>{{ ticket.status }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
